<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" >
    <title>Thanh Nguyen's Personal Website</title>
</head>
<body>
    <div class="jumbotron container">
      <header>
        <h1 class="display-3">Thanh Nguyen</h1>
        <h1 class="display-4">Computer Science</h1>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>I'm proud to be a junior student in computer science at North Dakota State University. Although being a college student is challenging for me, If I could choose again, I would still choose to go to the college.</p>
            <p>Hard choices, easy life, I chose to challenge myself.</p>
            <ol>
              <li>Pianist</li>
              <li>Animal lover</li>
              <li>Manga Lover</li>
              <li>Foodaholic</li>
              <li>Traveller</li>

            </ol>
            <p>My favourite movies/series:</p>
            <ul>
              <li>Harry Potter</li>
              <li>Game Of Thrones</li>
              <li>Marvel Cinematic Universe</li>
              <li>X-Men Cinematic Universe</li>
              <li>The Promised Neverland</li>
              <li>The End Of The F**ing World</li>
              <li>The Greatest Showman</li>             
            </ul>
          </div>
          <div class="col-sm">
            <img alt="My handsome picture" width="500"  src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/36774234_1471422336297868_1174492398030422016_o.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_oc=AQn2nprW6EuScTOtQtxeFHnAPbUpmt2sUEQCm2vkJ-1mZ_xGIn03lbTZl8k3oOsC8lA&_nc_ht=scontent-ort2-2.xx&oh=bd7afc2efb6b9e32be4f96c0b1116c74&oe=5EF8E1C6">
          </div>
        
         
          <table class="table table-bordered">
            <caption style="caption-side: top" >My weekly schedule</caption>
            <tr>
             <td align="center">
             <td>9:00-10:00
             <td>10:00-11:00
             <td>11:00-12:00
             <td>12:00-13:00
             <td>13:00-14:00
             <td>14:00-15:00          
            </tr>
            <tr>
              <td>Sunday</td>
              <td> </td>
              <td> </td>
              <td> </td> 
              <td> </td>
              <td> </td> 
              <td> </td>           
             </tr>
            <tr>
              <td>Monday
                <td>ENG 321</td>
                <td>CSCI 313</td>
                <td> </td> 
                <td>MATH 166</td>
                <td> </td>
                <td>CSCI 336</td>
             </tr>
            <tr>
              <td>Tuesday
              <td colspan=2 align="center">MATH 166</td>
              
              <td> </td> 
              <td> </td>
              <td> </td> 
              <td> </td>
             </tr>
            <tr>
              <td>Wednesday
                <td>ENG 321</td>
                <td>CSCI 313</td>
                <td> </td> 
                <td>MATH 166</td>
                <td> </td>
                <td>CSCI 336</td>
             </tr>
            <tr>
              <td>Thursday
              <td colspan=2 align="center">MATH 166</td>
              <td> </td> 
              <td> </td>
              <td> </td> 
              <td> </td>
             </tr>
            <tr>
             <td>Friday
              <td>ENG 321</td>
                <td>CSCI 313</td>
                <td> </td> 
                <td>MATH 166</td>
                <td> </td>
                <td>CSCI 336</td>
            </tr>
            <tr>
              <td>Sartuday
                <td> </td>
                <td> </td>
                <td> </td> 
                <td> </td>
                <td> </td>
                <td> </td>
             </tr>
          </table>
             
        </div>
      </div>


      <footer class="page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          Thanh Nguyen
        </div>
        <!-- Copyright -->
      
      </footer>
      </div>

      
</body>
</html>